@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
}
.button-contact{

  padding: .8rem 2rem;
  border-radius: 30px;
  box-shadow: 0 10px 10px rgba(0,0,0,0.12);


  font-size: 1.25rem;
  letter-spacing: 1px;

}
.button-contact:hover{
  box-shadow: 0 0 0 rgba(0,0,0,0.12);
  transition: all .1s ease-out;
}

.anim {
  animation: jiggle 2.0s ease-out infinite;
}
@keyframes jiggle {
  48%, 62% {
    transform: scale(1.0, 1.0)
  }
  50% {
    transform: scale(1.1, 0.9)
  }
  56% {
    transform: scale(0.9, 1.1) translate(0, -5px)
  }
  59% {
    transform: scale(1.0, 1.0) translate(0, -3px)
  }
}